@{
    ViewBag.Title = "Index";
}

<h2>Booking View</h2>
<script type="text/javascript" src="~/Scripts/Booking/Booking.js"></script>

<div>
    <input type="button" name="btnBook" id="btnBook" value="Book Single Threaded Serial Execution (old style)    "/>
</div>


<div>
    <input type="button" name="btnBookParallel" id="btnBookParallel" value="Book Single Threaded  Parallel Exeution(new style)    "/>
</div>

<div id="divLogs"> 
     
</div>